.menu {
  margin-top: 10px;
}

.menu__btn {
  font-size: 26px;
  padding: 5px 20px;
  color: white;
  margin-right: 20px;
  background-color:#18386d; 
  border-radius: 5px;
}

.menu__btn:hover {
  background-color: #3e5782; 
}
