.card-display {
  display: block;
  text-align: center;
  width: 500px;
  height: 300px;
  border: 2px solid rgb(184, 188, 193);
  border-radius: 15px;
  font-size: 26px;
  margin: 0 auto 20px auto;
  background-color: rgb(249, 251, 254);
  box-shadow: 3px 3px 10px 3px rgba(97, 108, 120, 0.5);
}

.btn-flip {
  font-size: 26px;
  background-color: #18386d;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.btn-remove {
  font-size: 20px;
  background-color: #481f1f;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.card-number {
  text-align: left;
  margin-left: 20px;
  font-size: 20px;
  font-weight: bold;
}

@media (max-width: 600px) {
  .card-display {
    width: 280px;
    height: 350px;
    background-color: grey;
  }
}

