.card-display {
  width: 500px;
  height: 300px;
  border: 2px solid black;
  border-radius: 15px;
  font-size: 26px;
  margin-bottom: 20px;
  background-color: white;
}

.btn-flip {
  font-size: 20px;
  background-color: #3e593a;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.card-number {
  text-align: left;
  margin-left: 20px;
  font-size: 20px;
  font-weight: bold;
}



